@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --bg--primary:rgb(2, 3, 7);
    --bg--secondary:rgb(15, 15, 24);
    --text--primary:rgb(255, 255, 255);
    --text--secondary:rgb(230, 230, 230);
    --text--gradient--main:linear-gradient(90deg, #ffffff,#ffffff94,#ffffffd3,#ffffff94,#ffffffb2);
}
body{
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--bg--primary);
    color: var(--text--primary);
    font-family: 'Open Sans', sans-serif;
}
/* header starts here */
header{
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg--secondary);
}
header .checkbtn{
    display: none;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 200px;
}
header ul li a{
    text-decoration: none;
    color: var(--text--primary);
    opacity: 60%;
}
header .nav-links-container .close-icon{
    display: none;
}
header i{
    font-size: 30px;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    opacity: 60%;
}
header .logo:hover{
    opacity: 100%;
    transition: 150ms ease-in-out;
}
header .logo i{
    font-size: 20px;
}
header ul li span{
    opacity: 60%;
}
header ul li .active{
    opacity: 100%;
}
header .nav-active{
    left: 14%;
}
/* header responsive */
@media only screen and (max-width : 768px ){
    header{
        background-color: transparent;
    }
    header ul li span{
        display: none;
    }
    header .logo{
        display: none;
    }
    header .checkbtn{
        position: fixed;
        top: 30px;
        right: 40px;
        display: block;
    }
    header .nav-links-container .close-icon{
        display: block;
        width: 100%;
        position: absolute;
        top: 30px;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;
    }
    .nav-links-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        transition: all 600ms ease-in-out;
        left: 100%;
        bottom: 0;
        background-color: rgba(1, 1, 1, 0.598);
        backdrop-filter: blur(2px);
    }
    header ul{
        flex-direction: column;
        margin: 0;
        padding: 0 30px 100px 0;
    }
    header .nav-active{
        left: 14%;
    }
}
/* -- header ends here -- */

/* home starts here */
#home{
    padding-top: 150px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.home-container img{
    width: 100%;
    filter: saturate(10%) contrast(150%) brightness(80%);
}
.home-container .banner-container{
    background: var(--bg--secondary);
    width: 240px;
    height: 320px;
    padding: 50px 50px 0 50px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 7s linear infinite;
}
@keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}
.home-container .banner-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home-container .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.home-container .content p{
    opacity: 60%;
}
.home-container .content h1{
    width: 100%;
    font-weight: 500;
    font-size: 34px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home-container .content .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.6);
    height: 28px;
    padding: 2px 8px;
    border-radius: 6px;
    transition: all 600ms ease-in-out;
}
.home-container .content .social-media span{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 60%;
}
.home-container .content .social-media span i{
    font-size: 20px;
}
.home-container .content .social-media .active-social-media{
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    display: none;
    opacity: 0;
}
.home-container .content .social-media .active-sm-plus{
    display: flex;
    opacity: 1;
}
.home-container .content #connect-btn{
    cursor: pointer;
}
.home-container .content .social-media a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    opacity: 60%;
}

/* -- home ends here -- */

.skills-container{
    margin-top: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--bg--secondary);
    padding: 30px 0;
}
.skills-container .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    scroll-behavior: smooth;
}
.skills-container .content img{
    height: 36px;
    filter: saturate(0%);
    opacity: 60%;
}
.skills-container .content img:hover{
    opacity: 100%;
}
#about{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.about-container{
    margin-top: 80px;
}
.about-container .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}
.about-container .head h1{
    font-weight: 500;
    font-size: 34px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.about-container .about-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container .about-content .intro-text{
    width: 700px;
    text-align: center;
    opacity: 60%;
    font-size: 16px;
}
.about-container .cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 34px;
}
.about-container .cards .card{
    height: 250px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    border:6px solid var(--bg--secondary);
    border-radius: 14px;
    padding: 0 20px 20px 20px;
}
.about-container .cards .card img{
    width: 40px;
    opacity: 60%;
}
.about-container .cards .card h2{
    font-weight: 600;
    font-size: 20px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 4px;
}
.about-container .cards .card p{
    font-size: 12px;
    opacity: 60%;
}
#between-section{
    margin-top: 100px;
}
.between-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: var(--bg--secondary);
}
.between-block h1{
    font-weight: 600;
    font-size: 34px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 4px;
}
.between-block p{
    font-size: 16px;
    opacity: 60%;
}
.between-block button{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    opacity: 60%;
}
.between-block button i{
    font-size: 18px;
}

#portfolio{
    margin-top: 100px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.portfolio-container .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-container .head h1{
    font-weight: 600;
    font-size: 34px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 4px;
}
.portfolio-categ-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.portfolio-categ-links .categ-link{
    font-size: 16px;
    opacity: 60%;
}
.projects-container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-container .cards{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    gap: 20px;
}
.projects-container .cards::-webkit-scrollbar{
    display: none;
}
.projects-container .cards .card img{
    width: 200px;
}
.projects-container .cards .card{
    border:6px solid var(--bg--secondary);
    border-radius: 14px;
    padding: 10px 0;
}
.projects-container .cards .card .video-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
}
.projects-container .cards .card .card-description{
    width: 100%;
    padding: 6px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.projects-container .cards .card .links{
    width: 100%;
    padding: 6px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.projects-container .cards .card h6{
    font-weight: 600;
    font-size: 20px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.projects-container .cards .card p{
    font-size: 12px;
    opacity: 60%;
}
.projects-container .cards .card a{
    text-decoration: none;
    font-size: 12px;
    opacity: 60%;
    color: white;
}
.projects-container .cards .card a:hover{
    opacity: 100%;
}

#contact-data{
    width: 100%;
    margin-top: 100px;
}
.between-block-contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    background-color: var(--bg--secondary);
    cursor: pointer;
}
.between-block-contact .block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    opacity: 60%;
    color: var(--text--gradient--main);
    font-weight: 400;
}
.between-block-contact .block:hover{
    opacity: 100%;
}
.between-block-contact .block i{
    font-size: 28px;
}


#contact{
    width: 100%;
    margin-top: 100px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.contact-section-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-section-head h1{
    font-weight: 600;
    font-size: 34px;
    background: var(--text--gradient--main);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 4px;
}
.contact-section-head p{
    font-size: 16px;
    opacity: 60%;
}
.contact-section .form-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.contact-section .form-container input[type="text"],
.contact-section .form-container input[type="email"]{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    width: 220px;
    background-color: var(--bg--secondary);
    outline: none;
    border: none;
}
.contact-section .form-container .form-controls-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contact-section .form-container  textarea{
    resize: none;
    width: 500px;
    height: 100px;
    background-color: var(--bg--secondary);
    color: white;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    border: none;
}
.contact-section .form-container .btn{
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contact-section .form-container button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background-color: var(--bg--secondary);
    border: none;
    opacity: 60%;
}
.contact-section .form-container button:hover{
    opacity: 100%;
}
footer{
    margin-top: 100px;
}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 0;
    background-color: var(--bg--secondary);
}
.footer-container .social-media-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    opacity: 60%;
}
.footer-container .social-media-container a:hover{
    opacity: 100%;
}
.footer-container .copyrights{
    font-size: 16px;
    opacity: 60%;
}

@media only screen and (max-width : 768px ){
    #home{
        padding-top: 80px;
    }
    .home-container{
        flex-direction: column;
        align-items: center;
    }
    .home-container .banner-container{
        width: 180px;
        height: 240px;
        padding: 40px 30px 0 30px;
    }
    .home-container .content h1{
        font-size: 24px;
    }
    .home-container .content p{
        font-size: 14px;
    }
    .home-container .content{
        gap: 10px;
    }
    .skills-container{
        margin-top: 80px;
    }
    .skills-container .content{
        width: 100%;
        padding: 20px 0;
        padding: 0 20px;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    .skills-container .content::-webkit-scrollbar{
        display: none;
    }
    .skills-container .content img{
        height: 26px;
    }
    .about-container .head h1{
        font-size: 24px;
    }
    .about-container .about-content .intro-text{
        font-size: 14px;
        padding: 0 14px;
    }
    .about-container .head{
        padding: 14px 0;
    }
    .about-container .cards .card img{
        width: 25px;
    }
    .about-container .cards .card{
        min-width: 180px;
        height: 140px;
    }
    .about-container .cards .card h2{
        font-size: 14px;

    }
    .about-container .cards .card p{
        font-size: 10px;
    }
    .about-container .cards{
        width: 100%;
        padding: 0 14px;
        margin-top: 10px;
        justify-content: flex-start;
        gap: 24px;
        overflow-x: scroll;
    }
    .about-container .cards::-webkit-scrollbar{
        display: none;
    }
    #between-section{
        margin-top: 80px;
    }
    .between-block h1{
        font-size: 24px;
        padding: 0 20px;
        text-align: center;
    }
    .between-block p{
        font-size: 14px;
        padding: 0 14px;
        text-align: center;
    }
    #portfolio{
        margin-top: 80px;
    }
    .portfolio-container .head h1{
        font-size: 24px;
    }
    .portfolio-categ-links .categ-link{
        font-size: 14px;
    }
    .projects-container{
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .projects-container .cards{
        width: 100%;
        padding: 0 14px;
        justify-content: flex-start;
    }
    .projects-container .cards .card h6{
        font-size: 14px;
    }
    .projects-container .cards .card p{
        width: 140px;
        font-size: 10px;
    }
    .projects-container .cards .card a{
        font-size: 10px;
    }
    .projects-container .cards .card img{
        width: 160px;
    }
    .projects-container .cards .card .links i{
        font-size: 12px;
    }
    #contact-data{
        margin-top: 80px;
    }
    .between-block-contact{
        justify-content: flex-start;
        overflow-x: scroll;
        padding: 20px 14px;
    }
    .between-block-contact::-webkit-scrollbar{
        display: none;
    }
    .between-block-contact .block{
        font-size: 14px;
    }
    .between-block-contact .block i{
        font-size: 20px;
    }
    #contact{
        margin-top: 80px;
    }
    .contact-section-head h1{
        font-size: 24px;
    }
    .contact-section-head p{
        font-size: 14px;
    }
    .contact-section .form-container{
        margin-top: 20px;
        width: 100%;
    }
    .contact-section .form-container input[type="text"],
    .contact-section .form-container input[type="email"]{
        width: 100%;
    }
    .contact-section .form-container .form-controls-1{
        padding: 0 10px ;
    }
    .contact-section .form-container .btn{
        width: 370px;
    }
    .contact-section .form-container  textarea{
        width: 330px;
    }
    footer{
        margin-top: 80px;
    }
    .footer-container .social-media-container a{
        font-size: 18px;
    }
    .footer-container .copyrights{
        font-size: 10px;
        text-align: center;
    }
}
